body{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a{
    font-family: 'GOST', fantasy;
    font-size: 16px;
    color: #818180;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}
/*a:hover{
    color: #ffffff;
    background-color: #AFCA04;
    cursor: pointer;
    margin: 0;

}*/
ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#wrapper {
    max-width: 1024px;
    margin: auto;
}
.header {
    width: 1024px;
    height: 54px;
    padding: 0;
    margin: 20px 0 10px 0;
}
.header_hands{
    width: 46px;
    float: left;
    padding: 0;
    margin: 0;
}

.header_barcod{
    width: 155px;
    height: 38px;
    float: right;
    margin: 0;
    padding: 14px 0 0 0;
    vertical-align: text-bottom;
}
@font-face {
    font-family: GOST;
    src: url("GOST.TTF");
}
.font-gost-logo {
    font-family: 'GOST', fantasy;
    font-size: 29px;
    color: #AFCA04;
    float: left;
    height: 30px;
    width: 710px;
    margin:0;
    padding: 10px 0 0 10px;
}
/*
.menu{
    width: 1024px;
    padding: 0;
    margin: 0;
    float: right;
}
.menu> li {
    text-align: center;
    height: 18px;
    line-height: 18px;
    border-left: 1px solid #818180;
    display: inline-block;
    position: relative;
    float: right;
    margin: 0  ;
    padding: 0  ;
}
.menu > li > ul{
    display: none;
    position: absolute;
    float: right;


}
.menu > li:hover > ul{
    display: block;
    color: #ffffff;
    background-color: #AFCA04;
    cursor: pointer;
    text-align: left;
}
.menu_link_last{
    margin:0;
    padding: 0 10px 0 10px;
    border-right: 1px solid #818180;
}

*/
#menu_link_active{
    font-family: 'GOST', fantasy;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #AFCA04 ;
    height: 18px;
    line-height: 18px;
    padding: 0 10px 0 10px;
}
#menu_top_float {
    float: right;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
#menu_top, #menu_top ul, #menu_top li{
    margin: 0;
    padding: 0;
}
#menu_top, #menu_top ul{
    background: #ffffff;
}
#menu_top {
    float: right;
    display: table;
    width: 600px;
}
#menu_top ul{
    position: absolute;
    z-index: 5;
    display: none;
}
#menu_top li:hover ul{
    display: block;
    background: #AFCA04;

}
#menu_top li{
    display: table-cell;
    text-align: center;

}
#menu_top ul li{
    display: block;
    text-align: left;
    border-right: none;
}
#menu_top a{
    display: block;
    padding:  0;
    color: #818180;
    text-decoration: none;
    border-right: 1px solid;
}
#menu_top a:hover{
    color: #fff;
}
#menu_top ul a{
    padding: 0px 0px;
    border-right: none;
    width: 100%;
}
#menu_top li:hover{
    background: #AFCA04;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.content {
    margin: 10px 0;
    padding: 0;
    width: 1024px;
    float: left;
    text-align: center;
    display: inline;
}

.menu_down_position{

    width: 1024px;
    display: inline-block;
}

.menu_down{

    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu_down > li{
    text-align: center;
    cursor: pointer;
    height: 10px;
    line-height: 10px;
    border-left: 1px solid #818180;
    margin: 0 0;
    padding: 0;
    display: inline-block;
    position: relative;
}
#menu_down_last{
    text-align: center;
    color: #818180;
    cursor: pointer;
    height: 10px;
    line-height: 10px;
    border-left: 1px solid #818180;
    border-right: 1px solid #818180;
    margin: 0;
    padding: 0 10px 0 10px;
}
footer{
    width: 100%;
    padding: 0;
    margin: 0 0;
    display: inline-block;
// display: inline;
    text-align: center;

}
.copyright{
    text-align: center;
    font-family: 'GOST', fantasy;
    font-size: 10px;
    color: #818180;
    cursor: pointer;
}
