<!--bottom menu -->
<nav>
    <ul class="bottom-menu">
        <li><a href="{{ site.baseurl }}interiors.html">интерьер</a></li>
        <li><a href="{{ site.baseurl }}architecture.html">архитектура</a></li>
        <li><a href="{{ site.baseurl }}graphics.html">графика</a></li>
        <li><a href="{{ site.baseurl }}landscape.html">ландшафт</a></li>
        <li><a href="{{ site.baseurl }}animation.html">анимация</a></li>
    </ul>
</nav>
<!--footer-->
<footer class="page-footer">
    <p class="copyright">copyright © Алексей Цивин 2002 - 2014</p>
</footer>