<!-- header -->
<header class="page-header">
    <figure class="hands"><img src="{{ site.baseurl }}img/hands.png" width="46" height="54"></figure>
    <div class="logo-text">{{ site.title }}</div>
    <figure class="barcod"><img src="{{ site.baseurl }}img/barcod.png" width="155" height="38"></figure>
</header>
<!--top menu -->
<nav>
    <ul id="menu">
        <li><a href="{{ site.baseurl }}about.html">о нас</a></li>
        <li>
            <a href="{{ site.baseurl }}portfolio.html">портфолио</a>
            <ul>
                <li><a href="{{ site.baseurl }}interiors.html">интерьеры</a></li>
                <li><a href="{{ site.baseurl }}architecture.html">архитектура</a></li>
                <li><a href="{{ site.baseurl }}graphics.html">графика</a></li>
                <li><a href="{{ site.baseurl }}landscape.html">ландшафт</a></li>
                <li><a href="{{ site.baseurl }}animation.html">анимация</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}contacts.html">контакты</a></li>
        <li><a href="{{ site.baseurl }}partners.html">партнеры</a></li>
        <li><a href="{{ site.baseurl }}price.html">прайс</a></li>
    </ul>
</nav>
